.entry {
  background: lightgray;
  margin: 10px 0;
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
}

.entry__img {
  width: 140px;
  height: 130px;
  min-width: 140px;
  min-height: 130px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

.entry__desc {
  list-style: none;
}
